{###########################################################################################
        SCRIPTO USES JINJA2 TEMPLATES
        LAYOUT TEMPLATE DEFINES WHAT IS COMMON ACROSS THE APP
############################################################################################}

<!doctype html>
<html lang="en">
<head>

    {###########################################################################################
        DOCUMENT TITLE AND FAVICON ICON
    ############################################################################################}

    <title>{% block title %} {# document title goes here #} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='public/favicon/favicon.png') }}"
          sizes="16x16">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='public/favicon/favicon.png') }}"
          sizes="32x32">

    {############################################################################################
        DOCUMENT META TAGS
    #############################################################################################}
    {% block styles %}

    {% endblock %}

    <meta name="description" content="Build your web app faster with Scripto"/>
    {#  YOU CAN ADD MORE META TAGS LIKE THIS (e.g. <meta name="NAME" content="CONTENT" />)   #}

    {#############################################################################################
        LINK TO STATIC FILES AND EXTERNAL SRC TO JAVASCRIPT OR CSS
    ##############################################################################################}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
{#############################################################################################
        ALL THE CONTENTS GOES HERE. CONSIDER EDITING THIS PLACE IF YOU NEED TO ADD COMPONENTS
        WHICH ARE VISIBLE ALL ACROSS THE APP
##############################################################################################}

{# YOU CAN ADD YOUR APP HEADER (e.g. {% include 'components/header.jinja2' %} #}

{% block content %}{% endblock %}

{#  YOU CAN ADD YOUR APP FOOTER (e.g. {% include 'components/header.jinja2' %})  #}
<script src="{{ url_for('static', filename='js/global.js') }}"></script>
</body>
</html>